.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Contact Styling */

input {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px 0;
  padding: 15px 32px;
  margin: 4px 2px;
}

.contactLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactButtons {
  display: flex;
  flex-direction: row;
}

.contactButton {
  padding: 0;
  margin: 10px;
  border: 0px;
  border-radius: 3px;
  height: 50px;
  cursor: pointer;
}

.contactButton:hover {
  filter: brightness(85%);
}

.bio {
  background-color: #d9f5e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
}