//Color vars
$pink: #ff2079;
$lightpink: #ff2079;
$purple: #e92efb;
$blue: #440bd4;
$darkblue: #04005e;

* {
  box-sizing: border-box;
}

html {
  overflow: auto;
}

body {
  max-width: 100vw;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #2d2d2d;
}

.App {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 5em;
  color: white;
  text-transform: uppercase;
}

/* line 1, src/compass/compass.scss */
.parallax {
  perspective: 100px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
}

/* line 15, src/compass/compass.scss */
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 22, src/compass/compass.scss */
.parallax__layer img {
  height: 800px;
  width: 100%;
  // object-fit: contain;
  right: 0;
  display: block;
  position: absolute;
  bottom: -200px;
}

.parallaxSupplement {
  background-color: #ff2079;
  height: 40vh;
  position: relative;
  bottom: -120vh;
}

/* line 29, src/compass/compass.scss */
.parallax__cover {
  background: #2d112b;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 80%;
  z-index: 2;
}

/* line 44, src/compass/compass.scss */
.parallax__layer__0 {
  transform: translateZ(-200px) scale(3) translateY(-400px);
}

/* line 44, src/compass/compass.scss */
.parallax__layer__1 {
  transform: translateZ(-150px) scale(2.5) translateY(-100px);
}

/* line 44, src/compass/compass.scss */
.parallax__layer__2 {
  transform: translateZ(-100px) scale(2);
}

/* line 44, src/compass/compass.scss */
.parallax__layer__3 {
  transform: translateZ(-50px) scale(1.5) translateY(100px);
}

/* line 44, src/compass/compass.scss */
.parallax__layer__4 {
  transform: translateZ(0px) scale(1) translateY(200px);
}

/* Nav Styling */

#topBit {
  width: 100vw;
  background-image: url("./assets/spaceNew.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  position: relative;
  top: 5vh;
  margin-top: 25px;
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.navButton {
  background-color: $pink;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}
.navButton:hover {
  background-color: $purple;
}
.navButton:active {
  position: relative;
  top: 1px;
}
.navButton:disabled {
  cursor: not-allowed;
  color: grey;
  background-color: orangered;
}

/* Project Styling */

.projectContainer {
  position: relative;
  // top: -25vh;
  background-color: #000000cc;
  // opacity: 80%;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px black;
  font-size: 1.2em;
  a:link {
    color: $blue;
  }

  /* visited link */
  a:visited {
    color: $purple;
  }

  /* mouse over link */
  a:hover {
    color: $pink;
  }

  /* selected link */
  a:active {
    color: $darkblue;
  }
  img {
    opacity: 100%;
  }
}

.bioContainer {
  top: 10vh;
  text-align: center;
  position: relative;
  background-color: black;
  opacity: 90%;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px black;
  p {
    font-size: 1.2em;
  }
}

.projectSingle {
  border-bottom: 5px dashed $blue;
  margin-bottom: 25px;
}

h3 {
  margin: 20px;
}

.projectBlurbs {
  margin: 40px;
}

iframe {
  width: 100%;
  height: 100%;
}

.iframe-loading {
  width: 80%;
  height: 500px;
  background: #fff url("assets/loading.gif") no-repeat fixed center;
}

/* Contact Styling */

input {
  /* font-family: "IBM Plex Mono", monospace; */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px 0;
  padding: 15px 32px;
  margin: 4px 2px;
}

.contactLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: bioStart cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.contactButtons {
  display: flex;
  flex-direction: row;
}

.contactButton {
  padding: 0;
  margin: 10px;
  border: 0px;
  border-radius: 3px;
  height: 50px;
  cursor: pointer;
}

.contactButton:hover {
  filter: brightness(85%);
}

.bio {
  background-color: $pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
}

@keyframes bioStart {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

//Parallax

.parallaxImages {
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.space {
  top: -5vh;
  height: 100vh;
  z-index: -999;
  animation: starsAnim 20s infinite alternate linear;
}

.react-parallax {
  z-index: -999;
  position: sticky !important;
  // offset-anchor: top;
  top: -20vh;
  height: 120vh;
  width: 100%;
}

// Animations

//CTAs

.scrollCTA {
  animation: scrollCTAAnim linear infinite 2s;
}

@keyframes scrollCTAAnim {
  0% {
    opacity: 0%;
  }
  5% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  95% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
    transform: translateY(20px);
  }
}

.clickCTA {
  z-index: 10;
  transform: rotate(-25deg);
  animation: clickCTAAnim linear infinite 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
}

.clickCTA1 {
  animation: clickCTAAnim1 linear infinite 1s;
  transform-origin: center;
  height: 25px;
  width: 25px;
  position: absolute;
  top: -30px;
  right: -12.5px;
}

.clickCTA2 {
  animation: clickCTAAnim2 linear infinite 1s;
  transform-origin: center;
  height: 25px;
  width: 25px;
  position: absolute;
  right: -30px;
  top: -12.5px;
  transform: rotate(90deg);
}

.clickCTA3 {
  animation: clickCTAAnim3 linear infinite 1s;
  transform-origin: center;
  height: 25px;
  width: 25px;
  position: absolute;
  left: -30px;
  top: -12.5px;
  transform: rotate(270deg);
}

.clickCTA4 {
  animation: clickCTAAnim4 linear infinite 1s;
  transform-origin: center;
  height: 25px;
  width: 25px;
  position: absolute;
  bottom: -30px;
  right: -12.5px;
  transform: rotate(180deg);
}

@keyframes clickCTAAnim1 {
  to {
    transform: translateY(5px);
  }
}
@keyframes clickCTAAnim2 {
  to {
    transform: translateX(-5px) rotate(90deg);
  }
}
@keyframes clickCTAAnim3 {
  to {
    transform: translateX(5px) rotate(270deg);
  }
}
@keyframes clickCTAAnim4 {
  to {
    transform: translateY(-5px) rotate(180deg);
  }
}

@keyframes clickCTAAnim {
  0% {
    opacity: 0%;
  }
  5% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  95% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

//Motorbike Animation Containers
.animationContainer {
  white-space: pre-wrap;
  position: relative;
  padding: 50px;
  // top: -25vh;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: #000000cc;
  opacity: 90%;
  color: #fff;
  box-shadow: 0px 0px 10px black;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: hidden;
}

.scrollingText {
  margin: 25px;
  display: inline-block;
  animation: floatText 40s infinite linear;
  // padding-top: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.scrollingText:hover {
  animation-play-state: paused;
}
@keyframes floatText {
  to {
    transform: translateY(-100%);
  }
}
.textActive {
  color: $pink;
}
.textInactive {
  color: $blue;
}

.motoranimationcontainer {
  display: block;
  position: relative;
  height: 300px;
  min-width: 300px;
  align-items: center;
  .motoranimbackground {
    position: relative;
    background: url("./assets/motorbike_background.png") repeat 0 0;
    background-size: cover;
    animation: slide 3s linear infinite;
    height: 300px;
    width: 300px;
    .edgeblurleft {
      position: absolute;
      left: 0px;
      height: 300px;
      width: 150px;
    }
    .edgeblurright {
      position: absolute;
      transform: scaleX(-1);
      right: 0px;
      height: 300px;
      width: 150px;
    }
  }
  .motoranim {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .wheel {
    animation: rotating 0.5s linear infinite;
  }
  .driver {
    animation: driver 0.5s cubic-bezier(0.31, 0.44, 0.445, 1.65) infinite;
  }
}

.plantIdle {
  animation: plant 0.5s cubic-bezier(0.33333, 0.66667, 0.66667, 1) infinite;
}
.plantActive {
  transform-origin: 50% 55% !important;
  animation: plantFlip 1s linear infinite;
}

.kevin-motor {
  background-color: #f8fcff;
  background-color: #f1f9fd;
  border-top: 1px solid #ecf1f5;
}
.bonus-features-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .motorbike {
    width: 350px;
    filter: contrast(105%);
  }

  .bonus-features-CTA {
    width: 100%;
    margin-left: 20px;

    .bonus-features-title {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 0;
    }

    .bonus-features-description {
      margin-top: 10px;
      font-size: 1.2rem;
      line-height: 1.4;
    }

    .sign-up-CTA {
      background-color: #5666fa;
      color: white;
      border: none;
      padding: 10px 37px;
      border-radius: 5px;
      font-size: 1.2rem;
      transition: 0.22s ease;

      cursor: pointer;
      &:focus {
        outline: 0;
      }

      &:hover {
        filter: brightness(130%);
      }
    }
  }
}

//Motorbike Animation keyframes

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -300px 0;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes plant {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg) translate(5px, -5px);
  }
  50% {
    transform: rotate(10deg) translate(-5px, -5px);
  }
  75% {
    transform: rotate(-7deg) translate(-7px, -8px);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes driver {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg) translate(2px, -1px);
  }
  50% {
    transform: rotate(5deg) translate(-3px, -2px);
  }
  75% {
    transform: rotate(-3deg) translate(-4px, -3px);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes plantFlip {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
    top: -10%;
  }
  50% {
    transform: rotate(180deg);
    top: -20%;
  }
  75% {
    transform: rotate(270deg);
    top: -10%;
  }
  100% {
    transform: rotate(359deg);
  }
}

//Motorbike Animation Media Queries

@media screen and (max-width: 600px) {
  .bonus-features-container {
    flex-direction: column;

    .bonus-features-CTA {
      padding: 0 5%;
    }
    .motorbike {
      width: 250px;
    }
    .bonus-features-CTA {
      margin-left: 0;
      .fonus-features-title {
        font-size: 1.2rem;
      }
      .bonus-features-description {
        font-size: 1rem;
      }
      .sign-up-CTA {
        font-size: 1.15rem;
        width: 50%;
      }
    }
  }
}

//Lamp Animation

//Lamp Animation Containers

#lampAnim {
  overflow: hidden;
  height: 500px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#oval {
  // z-index: -1;
  position: relative;
  top: 50px;
  width: 100px;
  height: 50px;
  background: #434c0b;
  border-radius: 100px / 50px;
  margin: auto;
}

#circle {
  // z-index: -1;
  position: relative;
  top: 25px;
  width: 30px;
  height: 30px;
  background: yellow;
  border-radius: 50px;
  margin: auto;
}

#trapezoid {
  position: relative;
  top: 25px;
  border-bottom: 500px solid lightyellow;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  height: 0;
  width: auto;
  animation: flicker infinite linear 5s;
}

.lamp {
  z-index: 2;
  transform-origin: top center;
  animation: swing 2s infinite alternate ease-in-out;
}

//Lamp Animation transforms

.fallover {
  transform: rotate(90deg);
  transition: transform 1s ease-in;
}

.dry {
  transform: scale(0);
  opacity: 0;
}

.water {
  transform: scale(1);
  opacity: 0.5;
  transition: transform 1s 1s, opacity 1s 1s;
}

//Lamp Animation keyframes

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes swing {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(15deg);
  }
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 50%;
  }
  10% {
    opacity: 50%;
  }
  11% {
    opacity: 0;
  }
  13% {
    opacity: 50%;
  }
  16% {
    opacity: 50%;
  }
  17% {
    opacity: 0;
  }
  19% {
    opacity: 50%;
  }
  30% {
    opacity: 50%;
  }
  31% {
    opacity: 0;
  }
  32% {
    opacity: 50%;
  }
  100% {
    opacity: 50%;
  }
}

@keyframes starsAnim {
  0% {
    opacity: 100%;
    transform: scale(1);
  }
  1% {
    opacity: 60%;
  }
  10% {
    opacity: 60%;
  }
  11% {
    opacity: 100%;
  }
  13% {
    opacity: 60%;
  }
  16% {
    opacity: 60%;
  }
  17% {
    opacity: 100%;
  }
  19% {
    opacity: 60%;
  }
  30% {
    opacity: 60%;
  }
  31% {
    opacity: 100%;
  }
  32% {
    opacity: 60%;
    transform: scale(1.005);
  }
  100% {
    opacity: 60%;
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .react-parallax {
    display: none;
  }
  .projectContainer {
    top: 0;
  }
  .animationContainer {
    top: 0;
  }
  .animatedText {
    display: none;
  }
}
